<!DOCTYPE html>
<html>
<head th:replace="fragments/base.html :: head"></head>
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/lista.css}">
</head>
<body>

	<nav th:replace="fragments/gestoreBase.html :: navbar"></nav>

	<header>
		<h1>Elimina collezioni</h1>
	</header>

	<section class="list">
		<ul>
			<li class="lineaEliminabile" th:each = "collezione : ${collezioni}">
				<span th:text="${collezione.nome}">Nome Collezione</span>
				<a th:href="@{'deleteCollezione/' + ${collezione.id}}">Elimina</a>
			</li>
		</ul>
	</section>

</body>
</html>