<!DOCTYPE html>
<html>

<head th:replace="fragments/base.html :: head"></head>
<head>
	<link rel="stylesheet" th:href="@{/stylesheets/login.css}">
</head>

<body>

	<nav th:replace="fragments/gestoreBase.html :: navbar"></nav>

	<header>
		<h1>Aggiungi opera</h1>
	</header>

	<form th:action="@{/admin/addOpera}"
		  method="POST" 
		  enctype="multipart/form-data"
		  th:object="${opera}">
		  
		  	<div th:if="${#fields.hasGlobalErrors()}">
  				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
			</div>

			<select
			th:field="${artista.id}"
			name="artista"
			required>
				<option value="">Autore</option>
				<option th:each = "artista : ${artisti}"
						th:text = "|${artista.nome} ${artista.cognome}|"
						th:value = "${artista.id}">
				</option>
			</select>

			<input
			th:field="*{nome}"
			type="text"
			placeholder="Titolo"
			required/>
			
			<input
			th:field="*{anno}"
			name="anno" 
			type="text" 
			placeholder="Anno"
			minlength="4"
			maxlength="4"
			pattern="[0-9]{0,4}"
			required/>

			<textarea
			th:field="*{descrizione}"
			name="descrizione"
			placeholder="Descrizione"
			cols="50"
			rows="5">
			</textarea>
			
			<select
			th:field="*{collezione}"
			name="collezione">
				<option value="">Collezione</option>
				<option th:each = "collezione : ${collezioni}"
						th:text = "${collezione.nome}"
						th:value = "${collezione.id}">
				</option>
			</select>

			<input 
			name="image" 
			type="file"
			accept="image/png, image/jpg, image/jpeg"
			required/>

			<div>
				<button type="submit">Salva</button>
				<button type="button">Annulla</button>
			</div>
			
	</form>

</body>
</html>