/* header */

header h1 {
	font-size: calc(2.5rem + 1.2vw);
	line-height: 1.5em;
	margin: 1% 0% 5%;
}

/* images section */

#images {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr;
	height: 35vw;
	grid-template-areas: "left left right-top right-top"
						 "left left left-quarter right-quarter";
	grid-gap: 1em;
}

#images > div {
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#images > div:hover {
	opacity: 80%;
}

#left {
	grid-area: left;
	background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/708a56107183799.5fa15a8ddcd2d.png");
}


#right-top {
	grid-area: right-top;
	background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/b4fecd103536681.5f4f59863afe2.jpg");
}

#right-quarter {
	grid-area: right-quarter;
	background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/2d3aae116054891.605a5916a8cb1.jpg");
}

#left-quarter {
	grid-area: left-quarter;
	background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/6a5eb692347769.5e4971c6423cc.jpg");
}

/* visualizzazione tablet */

@media screen and (max-width: 768px) {

	header h1 {
		font-size: calc(.5rem + 5vw);
		line-height: 1.4em;
		margin: 3% 0% 10%;
	}

	#images {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 2fr 1fr 1fr;
		height: 120vw;
		grid-template-areas: "left left"
							 "right-top right-top"
							 "left-quarter right-quarter";
		grid-gap: 1em;
	}

}