
/* header */

header h1 {
	font-size: calc(2.5rem + 1.2vw);
	margin: 1% 0% 3%;
}

/* artwork section */

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 30px;
}

.image {
	width: 100%;
	padding-bottom: 130%;
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("images/yev2.jpg");
}

#info {
	list-style: none;
	display: inline;
	line-height: 1.5rem;
	padding: 0;
}

#info a {
	text-decoration: none;
}

#info a:link, #info a:visited {
	color: black;
}

#info a:hover {
	color: gray;
}

/* visualizzazione smartphone */

@media screen and (max-width: 768px) {

	header h1 {
		font-size: calc(.5rem + 5vw);
		line-height: 1.4em;
		margin: 3% 0%;
	}

	.wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-gap: 30px;
	}

	footer {
		font-size: 1rem;
		margin-top: 50px;
	}

}