/* header */

header h1 {
	font-size: calc(2.5rem + 1.2vw);
	margin: 3% 0% 3%;
}

.list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.list li {
	margin: 10px 0px;
}

.list a, span {
	font-size: calc(1rem + 0.5vw);
	text-decoration: none;
}

.list a:link, .list a:visited {
	color: black;
}

.list a:hover {
	color: gray;
}

.lineaEliminabile {
	display: flex;
	justify-content: space-between;
}

.lineaEliminabile a:link, .lineaEliminabile a:visited {
	color: crimson;
}

.lineaEliminabile a:hover {
	color: salmon;
}