<!DOCTYPE html>
<html>
<head th:replace="fragments/base.html :: head"></head>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/artista.css">
</head>
<body>

	<header>
		<h1 th:text="${artista.nome}">Yevheniia
		<br th:text="${artista.cognome}">Berezyna</h1>
	</header>

	<section th:object=${artista}>
			<ul id="info">
				<li>
					<strong>Data di nascita:</strong>
					<span th:text=*{dataNascita}>10 Giugno 1989</span>
				</li>
				<li>
					<strong>Luogo di nascita</strong>
					<span th:text=*{luogoNascita}>Kiev, Ucraina</span>
				</li>
				<li>
					<strong>Nazionalità:</strong>
					<span th:text=*{nazionalita}>Ucraina</span>
				</li>
			</ul>
		<p id="bio" th:text=*{bio}>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed risus vitae lacus commodo dapibus. Donec viverra lectus eget leo tincidunt, a consequat velit consequat. Sed vitae faucibus risus. Vivamus aliquam leo sit amet mi aliquet mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas luctus est eu nulla lobortis, non efficitur velit sollicitudin. Duis eros metus, malesuada nec molestie in, mollis semper arcu. Sed sed odio mattis, porta sapien eu, vulputate ligula. Fusce ultricies nisl id sapien maximus, at gravida enim elementum. Fusce nec rutrum mi. Praesent venenatis gravida tortor, at finibus est sodales et. Integer porta at metus quis lobortis. Ut et libero semper, commodo tortor at, ornare mauris. Maecenas pretium lacinia luctus. Praesent tincidunt sollicitudin risus, at lacinia metus efficitur sed.
		</p>
	</section>

	<h2>Opere</h2>
	
	<section id="images">
		<div class="artworkWrapper">
			<a href="#"><div class="image" id="img1"></div></a>
			<h2>sommer / zeit<h2>
		</div>
		<div class="artworkWrapper">
			<a href="opera.html"><div class="image" id="img2"></div></a>
			<h2>suspect<h2>
		</div>
		<div class="artworkWrapper">
			<a href="#"><div class="image" id="img3"></div></a>
			<h2>psycho<h2>
		</div>
		<div class="artworkWrapper">
			<a href="#"><div class="image" id="img4"></div></a>
			<h2>to be wild<h2>
		</div>
		<div class="artworkWrapper">
			<a href=""><div class="image" id="img5"></div></a>
			<h2>active<h2>
		</div>
	</section>

	<footer th:replace="fragments/base.html :: footer"></footer>

</body>

</html>
