<!DOCTYPE html>
<html>
<head th:replace="fragments/base.html :: head"></head>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/lista.css">
</head>
<body>

	<nav th:replace="fragments/base.html :: navbar"></nav>

	<header>
		<h1>Collezioni</h1>
	</header>

	<section class="list">
		<ul>
			<li th:each = "collezione : ${collezioni}">
				<a href="" th:text="${collezione.nome}">Nome Collezione</a>
			</li>
		</ul>
	</section>

	<footer th:replace="fragments/base.html :: footer">	</footer>

</body>
</html>